﻿.body {
    color: #fff;
    align-items: center;
    justify-content: center;
    background-color: #CCD6DD;
}

.campos-container {
    background-color: #A9A9A9;
    width: 550;
    height: 650;
    flex-direction: column;
}

.campos-form {
    height: 550;
    flex-direction: column;
    margin-top: 20;
}

.logo {
    font-size: 40;
    text-align: center;
    background-color: #146EB4;
}

.mainPageTitle {
    font-size: medium;
    font-style: bold;
}

#btnIngresar {
    background-color: #146EB4;
    margin: 25 20 0;
    font-size: 40;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#btnBodega {
    background-color: white;
    margin: 10 20 0;
    font-size: 20;
    color: #146EB4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#btnCliente {
    background-color: white;
    margin: 10 20 0;
    font-size: 20;
    color: #146EB4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#btnNuevo {
    background-color: #21B070;
    margin: 0 0 20 10;
    font-size: 30;
    font-family:'Times New Roman', Times, serif;
}

entry {
    height: 50;
    margin: 10 20 0;
}
